{{#with data}}
<div id="error" class="title">
    <div class="container">
    	<h1>Oops! The page you're looking for does not exist.</h1>
        <h2><a href="/">Return home</a></h2>
    </div>
</div> <!-- #title -->
{{/with}}
