<div id="about">
    <div class="container">
        <div class="about-landing">

            <h1 class="hide-md-up about-title">Poor vision, good eye <br>for design.</h1>

            <div class="self-container"></div>

            <div class="bio">
                <h1 class="show-md-up about-title">Poor vision, good eye <br>for design.</h1>
                <h2 class="about-tagline">Visual Design / UX Design / Web Dev</h2>
                <p>Hello, my name is Emily! I’m a fourth year student at UC San Diego, pursuing a degree in Cognitive
                    Science: Human-Computer Interaction and a minor in Computer Science.</p>
                <p>Currently, I am <a href="http://asgraphicstudio.ucsd.edu/" target="_blank">A.S.
                        Graphic
                        Studio</a>'s webmaster and <a href="https://designatucsd.org/" target="_blank">Design at UCSD</a>'s
                    web developer.
                    This past summer I was a Visual Experience Design Intern at <a href="https://www.salesforce.com/"
                        target="_blank">Salesforce</a>, which you can read about on <a href="https://medium.com/design-at-ucsd/design-at-ucsd-students-reflect-on-summer-internships-53a0f7bca127"
                        target="_blank">Medium</a>.
                    <!--I've also worked on campus as a Web Developer for <a href="https://blink.ucsd.edu/sponsor/ITS/about/groups/campus-web-office/index.html" target="_blank">Information Technology Services</a> and as a Web & Digital Marketing Assistant for <a href="https://www.alumni.ucsd.edu" target="_blank">UCSD Alumni</a>.-->
                </p>
                <p>Other things I do include playing Stardew Valley and consuming alarming amounts of seafood. Full
                    disclosure: I support House Stark, Team Iron Man, and pineapple on pizza. I'm also passionate about
                    <a href="/illustration">tv shows and colors</a>.</p>
            </div> <!-- .bio -->

        </div> <!-- .about-landing -->
    </div> <!-- .container -->
</div> <!-- #about -->