{{#with data.about}}
<div id="about">
    <div class="container">
        <div class="about-landing">

        	<h1 class="hide-md-up about-title">About</h1>

            <div class="logo-container">
                <div class="logo-wrapper v-center">
                    <img src="images/icons/logo.svg" alt="Logo" >
                </div>
            </div> <!-- .hero-container -->

            <div class="bio">
                <h1 class="show-md-up about-title">About</h1>
                <h2 class="about-tagline">{{tagline}}</h2>
                {{{bio}}}
            </div> <!-- .bio -->

        </div> <!-- .about-landing -->
    </div> <!-- .container -->
</div> <!-- #about -->
{{/with}}
