/*
$underline: -webkit-linear-gradient(
  -90deg,
  rgba(231, 232, 233, 0) 50%,
  rgba(231, 232, 233, 1) 50%
);
*/
/*
@mixin underline($r, $g, $b, $a) {
  h1, h2, h3, p {
    a {
      background-image: -webkit-linear-gradient(
      -90deg,
      rgba($r, $g, $b, 0) 50%,
      rgba($r, $g, $b, $a) 50%
      );
    }
  }
}
*/
/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
.hamburger {
  padding: 0 0;
  display: inline-block;
  cursor: pointer;
  -webkit-transition-property: opacity, -webkit-filter;
  transition-property: opacity, -webkit-filter;
  transition-property: opacity, filter;
  transition-property: opacity, filter, -webkit-filter;
  -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible; }
  .hamburger:hover {
    opacity: 1; }

.hamburger-box {
  width: 3.3rem;
  height: 2.2rem;
  display: inline-block;
  position: relative; }

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -0.2rem; }
  .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    width: 3.3rem;
    height: 0.4rem;
    background-color: #272a2c;
    border-radius: 0;
    position: absolute;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    -webkit-transition-duration: 0.15s;
            transition-duration: 0.15s;
    -webkit-transition-timing-function: ease;
            transition-timing-function: ease; }
  .hamburger-inner::before, .hamburger-inner::after {
    content: "";
    display: block; }
  .hamburger-inner::before {
    top: -0.9rem; }
  .hamburger-inner::after {
    bottom: -0.9rem; }

/*
@import "types/3dx";
@import "types/3dx-r";
@import "types/3dy";
@import "types/3dy-r";
@import "types/3dxy";
@import "types/3dxy-r";
@import "types/arrow";
@import "types/arrow-r";
@import "types/arrowalt";
@import "types/arrowalt-r";
@import "types/arrowturn";
@import "types/arrowturn-r";
@import "types/boring";
@import "types/collapse";
@import "types/collapse-r";
@import "types/elastic";
@import "types/elastic-r";
@import "types/emphatic";
@import "types/emphatic-r";
@import "types/minus";
@import "types/slider";
@import "types/slider-r"; */
/*
   * Spin
   */
.hamburger--spin .hamburger-inner {
  -webkit-transition-duration: 0.22s;
          transition-duration: 0.22s;
  -webkit-transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
          transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  .hamburger--spin .hamburger-inner::before {
    -webkit-transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in;
    transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in; }
  .hamburger--spin .hamburger-inner::after {
    -webkit-transition: bottom 0.1s 0.25s ease-in, -webkit-transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: bottom 0.1s 0.25s ease-in, -webkit-transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--spin.is-active .hamburger-inner {
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
  -webkit-transition-delay: 0.12s;
          transition-delay: 0.12s;
  -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
          transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  .hamburger--spin.is-active .hamburger-inner::before {
    top: 0;
    opacity: 0;
    -webkit-transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out;
    transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out; }
  .hamburger--spin.is-active .hamburger-inner::after {
    bottom: 0;
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
    -webkit-transition: bottom 0.1s ease-out, -webkit-transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: bottom 0.1s ease-out, -webkit-transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1); }

/*
@import "types/spin-r";
@import "types/spring";
@import "types/spring-r";
@import "types/stand";
@import "types/stand-r";
@import "types/squeeze";
@import "types/vortex";
@import "types/vortex-r"; */
/*
   * Spin
   */
.hamburger--spin .hamburger-inner {
  -webkit-transition-duration: 0.22s;
          transition-duration: 0.22s;
  -webkit-transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
          transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  .hamburger--spin .hamburger-inner::before {
    -webkit-transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in;
    transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in; }
  .hamburger--spin .hamburger-inner::after {
    -webkit-transition: bottom 0.1s 0.25s ease-in, -webkit-transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: bottom 0.1s 0.25s ease-in, -webkit-transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--spin.is-active .hamburger-inner {
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
  -webkit-transition-delay: 0.12s;
          transition-delay: 0.12s;
  -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
          transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  .hamburger--spin.is-active .hamburger-inner::before {
    top: 0;
    opacity: 0;
    -webkit-transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out;
    transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out; }
  .hamburger--spin.is-active .hamburger-inner::after {
    bottom: 0;
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
    -webkit-transition: bottom 0.1s ease-out, -webkit-transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: bottom 0.1s ease-out, -webkit-transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1); }

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Custom reset */
button:focus {
  outline: 0; }

/*
 * Helpers
 */
.h-space-between, .v-center, .v-bottom, .h-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

/* Align with space between along x-axis */
.h-space-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

/* Vertical align center */
.v-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

/* Vertical align bottom */
.v-bottom {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end; }

/* Horizontal align center */
.h-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

@media (max-width: 599px) {
  .hide-sm-down {
    display: none; } }

@media (min-width: 600px) {
  .hide-sm-up {
    display: none; } }

@media (min-width: 840px) {
  .hide-md-up {
    display: none; } }

/* For portfolio h1 */
.show-md-up {
  display: none; }
  @media (min-width: 840px) {
    .show-md-up {
      display: inline-block; } }

.no-scroll {
  position: fixed; }

/*
 * Base styles
 */
html {
  font-size: 62.5%;
  position: relative; }
  @media (min-width: 2000px) {
    html {
      font-size: 0.5vw; } }

.container, .gallery-item-container {
  margin-right: auto;
  margin-left: auto;
  max-width: 120rem;
  padding: 0 7vw; }
  @media (min-width: 600px) {
    .container, .gallery-item-container {
      padding: 0 12vw; } }
  @media (min-width: 1200px) {
    .container, .gallery-item-container {
      padding: 0 12vw; } }

/* Used for sticky footer */
.body-wrapper {
  height: 100%;
  min-height: calc( 100vh - 13rem - 4rem - 6rem); }
  @media (min-width: 600px) {
    .body-wrapper {
      min-height: calc( 100vh - 20rem - 9rem - 6rem); } }
  @media (min-width: 1200px) {
    .body-wrapper {
      min-height: calc( 100vh - 20rem - 12rem - 6rem); } }

button {
  font-family: inherit;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: .1rem;
  font-size: .8rem;
  padding: 1rem 1.5rem 1rem;
  border: .1rem solid;
  white-space: nowrap;
  cursor: pointer; }

/*
 * @font-face declarations
 */
@font-face {
  font-family: 'Graphik';
  src: url("../fonts/graphik/Graphik-Medium.woff2") format("woff2"), url("../fonts/graphik/Graphik-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

/*
@font-face {
  font-family: 'Graphik';
  src: url('../fonts/graphik/Graphik-RegularItalic.woff2') format('woff2'),
      url('../fonts/graphik/Graphik-RegularItalic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}
*/
@font-face {
  font-family: 'Inter UI';
  src: url("../fonts/inter-ui/Inter-UI-Regular.woff2") format("woff2"), url("../fonts/inter-ui/Inter-UI-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Inter UI';
  src: url("../fonts/inter-ui/Inter-UI-Italic.woff2") format("woff2"), url("../fonts/inter-ui/Inter-UI-Italic.woff") format("woff");
  font-weight: 400;
  font-style: italic; }

@font-face {
  font-family: 'Inter UI';
  src: url("../fonts/inter-ui/Inter-UI-Medium.woff2") format("woff2"), url("../fonts/inter-ui/Inter-UI-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

/*
 * Typography
 */
body {
  -webkit-font-smoothing: antialiased;
  font-family: "Inter UI", "Helvetica Neue", "Arial", sans-serif;
  font-weight: 400;
  letter-spacing: 0; }

h1, h2, h3 {
  color: #272a2c !important;
  font-weight: 500; }

h1, h2 {
  font-family: "Graphik", "Helvetica Neue", "Arial", sans-serif; }
  @media (min-width: 840px) {
    h1, h2 {
      letter-spacing: -0.04rem; } }

h1 {
  font-size: 3.1rem;
  line-height: 4rem; }
  @media (min-width: 600px) {
    h1 {
      font-size: 3.9rem;
      line-height: 4.5rem; } }

.title {
  margin: 8rem 0 9rem;
  padding-right: 2rem; }
  .title h1 {
    font-size: 2.4em;
    line-height: 3.2rem; }
    @media (min-width: 480px) {
      .title h1 {
        font-size: 3.1em;
        line-height: 3.9rem;
        max-width: 85rem; } }

.archive-title {
  margin: 8rem 0 5rem; }

.name {
  background-image: -webkit-linear-gradient(-90deg, rgba(255, 245, 110, 0) 50%, #fff56e 50%); }

/* Title tagline */
.tagline {
  display: inline-block;
  margin-top: 0.4rem; }

h2 {
  font-size: 1.9rem;
  line-height: 2.7rem; }
  h2 a {
    color: inherit; }

#project h2 {
  margin-bottom: 1.5rem; }

p, li, h3 {
  color: #272a2c;
  font-size: 1.3rem;
  line-height: 2.4rem;
  letter-spacing: .03rem; }
  p a,
  p a:visited,
  p a:hover,
  p a:active, li a,
  li a:visited,
  li a:hover,
  li a:active, h3 a,
  h3 a:visited,
  h3 a:hover,
  h3 a:active {
    color: #ababab;
    -webkit-transition: 0.3s opacity;
    transition: 0.3s opacity; }
  @media (hover: hover) {
    p a:not(.btn):hover, li a:not(.btn):hover, h3 a:not(.btn):hover {
      opacity: 0.4; } }
  p button, li button, h3 button {
    border-color: #ababab;
    color: #ababab;
    -webkit-transition: background-color .3s, color .3s;
    transition: background-color .3s, color .3s; }
    @media (hover: hover) {
      p button:hover, li button:hover, h3 button:hover {
        background-color: #ababab;
        color: white;
        opacity: 1; } }

i {
  font-style: italic;
  line-height: 0; }

a,
a:visited,
a:hover,
a:active {
  color: inherit;
  text-decoration: none; }

/*
h2, h3, p {
  a {
    @include underline(255, 240, 89, 1);
  }
}
*/
.no-break {
  white-space: nowrap; }

.small-text {
  font-size: 1.1rem;
  font-style: italic; }

.underline {
  text-decoration: underline; }

/*
 * Header styles
 */
#header {
  width: 100vw;
  text-align: right;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }
  #header .container, #header .gallery-item-container {
    margin-top: 4rem; }
    @media (min-width: 600px) {
      #header .container, #header .gallery-item-container {
        margin-top: 9rem; } }
    @media (min-width: 1200px) {
      #header .container, #header .gallery-item-container {
        margin-top: 12rem; } }
  #header h1 {
    font-size: 3.1rem;
    line-height: 5.8rem; }
    @media (max-height: 570px) {
      #header h1 {
        font-size: 2.6rem;
        line-height: 4.5rem; } }
  #header h2 {
    line-height: 3.2rem;
    font-family: "Inter UI", "Helvetica Neue", "Arial", sans-serif;
    color: #272a2c;
    font-weight: 400; }
    @media (max-height: 570px) {
      #header h2 {
        font-size: 1.8rem;
        line-height: 3rem; } }

.hamburger {
  z-index: 9999;
  position: relative;
  right: 0; }

.menu-overlay {
  display: none;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.96);
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000; }

.menu-container {
  height: 100%;
  max-width: 120rem;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  text-align: right;
  overflow-y: scroll;
  padding: 0 7vw; }
  @media (min-width: 600px) {
    .menu-container {
      padding: 0 12vw; } }
  @media (min-width: 1200px) {
    .menu-container {
      padding: 0 12vw; } }
  @media (max-height: 470px) {
    .menu-container {
      display: block; } }

.menu {
  display: block;
  margin-top: 2rem; }
  @media (max-height: 470px) {
    .menu {
      margin-right: 8rem;
      margin-top: 4rem; } }
  @media (max-height: 470px) and (min-width: 600px) {
    .menu {
      margin-top: 9rem; } }
  @media (max-height: 470px) and (min-width: 1200px) {
    .menu {
      margin-top: 12rem; } }
  @media (max-height: 470px) {
    .menu li,
    .menu h1 {
      margin-top: -0.5rem;
      display: inline-block; } }
  .menu li a {
    color: #272a2c;
    padding: 0 0.3rem; }
    @media (hover: hover) {
      .menu li a:hover {
        opacity: 1;
        background-image: -webkit-linear-gradient(-90deg, rgba(255, 245, 110, 0) 50%, #fff56e 50%); } }
    .menu li a.active {
      opacity: 1;
      background-image: -webkit-linear-gradient(-90deg, rgba(255, 245, 110, 0) 50%, #fff56e 50%);
      cursor: default;
      pointer-events: none; }
  @media (max-height: 470px) {
    .menu li:not(:last-child) {
      margin-right: 3rem; } }

.menu-shortcuts {
  margin: -0.3rem 0 1.6rem;
  max-width: 30rem; }
  @media (min-width: 600px) {
    .menu-shortcuts {
      max-width: 40rem; } }
  @media (min-width: 840px) {
    .menu-shortcuts {
      max-width: 45rem; } }
  @media (max-height: 470px) {
    .menu-shortcuts {
      display: none; } }
  .menu-shortcuts h2 {
    display: inline; }
    .menu-shortcuts h2:not(:last-child):after {
      content: " /"; }

/*
 * Footer styles
 */
#footer {
  margin-top: 6rem;
  height: 13rem; }
  @media (min-width: 600px) {
    #footer {
      height: 20rem; } }
  #footer .container, #footer .gallery-item-container {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    @media (min-width: 600px) {
      #footer .container, #footer .gallery-item-container {
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between; } }

.copyright {
  width: 100%;
  text-align: center;
  margin-bottom: 0.4rem;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2; }
  @media (min-width: 600px) {
    .copyright {
      -webkit-box-ordinal-group: 1;
          -ms-flex-order: 0;
              order: 0;
      margin: 0;
      width: auto;
      text-align: left; } }
  .copyright h2 {
    font-size: 1.5rem; }

.social-media {
  width: 100%;
  margin-bottom: -6rem;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }
  @media (min-width: 600px) {
    .social-media {
      margin-bottom: -0.6rem;
      width: auto;
      text-align: right; } }
  .social-media li {
    display: inline-block;
    text-align: center; }
    .social-media li:not(:first-child) {
      margin-left: 2.4rem; }
  .social-media .email img {
    height: 2rem;
    padding-bottom: 0.2rem; }
  .social-media .github {
    margin-left: 2rem !important;
    margin-right: -0.8rem; }
  .social-media img {
    height: 2.4rem; }

/*
 * Home page
 */
#filters {
  margin-bottom: 2.5rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }
  @media (min-width: 600px) {
    #filters {
      margin-bottom: 4rem; } }
  #filters li {
    cursor: pointer;
    display: inline-block; }
    #filters li:not(.last-child) {
      margin-right: 1.4rem; }
      @media (min-width: 480px) {
        #filters li:not(.last-child) {
          margin-right: 1.8rem; } }
      @media (min-width: 600px) {
        #filters li:not(.last-child) {
          margin-right: 3.5rem; } }
  #filters .filter {
    font-size: 1.4rem; }
    @media (min-width: 480px) {
      #filters .filter {
        font-size: 1.9rem; } }
    #filters .filter::before {
      content: "";
      display: inline-block;
      margin-right: 0.5rem;
      width: 1rem;
      height: 1rem;
      border-radius: 0.75rem;
      background-color: #f1f1f1;
      -webkit-transition: 0.3s all;
      transition: 0.3s all; }
      @media (min-width: 480px) {
        #filters .filter::before {
          width: 1.2rem;
          height: 1.2rem;
          margin-right: 0.7rem; } }
      @media (min-width: 600px) {
        #filters .filter::before {
          width: 1.3rem;
          height: 1.3rem; } }
    @media (hover: hover) {
      #filters .filter:hover::before {
        background-color: #FFF56E; } }
  #filters .active-filter {
    cursor: default; }
    #filters .active-filter::before {
      background-color: #FFF56E; }

/* Project gallery */
@media (max-width: 599px) {
  .gallery-item-container {
    padding: 0; } }

@media (min-width: 600px) {
  .gallery-item-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 4rem; } }

@media (min-width: 840px) {
  .gallery-item-container {
    grid-gap: 5rem; } }

@media (min-width: 1200px) {
  .gallery-item-container {
    grid-template-columns: 1fr 1fr 1fr; } }

.gallery-item {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: relative; }
  .gallery-item:after {
    content: "";
    display: block;
    padding-bottom: 100%; }

@media (hover: hover) and (min-width: 600px) {
  .gallery-item:hover .project-icon {
    -webkit-filter: blur(0.4rem);
            filter: blur(0.4rem); } }
  @media (hover: hover) {
    .gallery-item:hover .project-description {
      overflow: visible;
      opacity: 1; }
      .gallery-item:hover .project-description .wrapper {
        -webkit-transform: translate(0, 0);
                transform: translate(0, 0); } }

.project-icon {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: absolute;
  -webkit-transition: .4s filter;
  transition: .4s filter;
  /* Landscape project icons */
  /* Portrait project icons */ }
  .project-icon .landscape {
    width: 100%;
    max-width: 100%; }
    .project-icon .landscape.padding-sm {
      max-width: 75%; }
    .project-icon .landscape.padding-md {
      max-width: 65%; }
  .project-icon .portrait {
    height: 100%; }
    .project-icon .portrait.padding-sm {
      max-height: 70%; }
    .project-icon .portrait.padding-md {
      max-height: 60%; }

.arrow {
  text-align: right;
  position: absolute;
  right: 7vw;
  bottom: 2.4rem; }
  .arrow img {
    width: 2rem;
    opacity: 0.65; }

.project-description {
  margin: 3rem 0 6rem; }
  @media (min-width: 600px) {
    .project-description {
      margin: 0;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: rgba(255, 255, 255, 0.87);
      opacity: 0;
      -webkit-transition: 0.4s opacity;
      transition: 0.4s opacity;
      overflow: hidden; } }
  .project-description h2 {
    margin-bottom: 1rem;
    /* Return to original styles */ }
    @media (min-width: 600px) {
      .project-description h2 {
        font-size: 1.7rem;
        margin-bottom: 0.8rem;
        line-height: 2.2rem; } }
    @media (min-width: 840px) {
      .project-description h2 {
        font-size: 2.3rem;
        line-height: 3rem;
        margin-bottom: 1rem; } }
  @media (min-width: 600px) {
    .project-description p {
      font-size: 1.3rem;
      line-height: 2.2rem; } }
  @media (min-width: 840px) {
    .project-description p {
      font-size: 1.3rem;
      line-height: 2.4rem; } }
  .project-description .wrapper {
    -webkit-transition: .4s;
    transition: .4s;
    -webkit-transform: translate(-100%, 0);
            transform: translate(-100%, 0); }
    @media (min-width: 600px) {
      .project-description .wrapper {
        margin-left: -1.5rem;
        margin-top: 2.2rem;
        width: 95%; } }
    @media (min-width: 840px) {
      .project-description .wrapper {
        margin-left: -2rem;
        margin-top: 4rem;
        width: 80%; } }
    @media (min-width: 1200px) {
      .project-description .wrapper {
        margin-top: 3.5rem; } }

p.tags {
  text-transform: uppercase;
  font-weight: 500;
  line-height: 0;
  letter-spacing: .09rem;
  margin-top: 1.2rem; }
  p.tags span {
    text-align: center;
    font-size: .6rem;
    display: inline-block;
    border: #272a2c 0.1rem solid;
    padding: .9rem .5rem .8rem .6rem;
    white-space: nowrap;
    margin: 0 .25rem .7rem 0; }

/* Dribbble link
#dribbble {
  margin-top: 5rem;
  h2 {
    @include link-hover($burnt-sienna);
  }
}
*/
/*
 * Case study/project pages
 */
#project img {
  max-width: 100%; }

/* Case study landing page */
.hero-container, .self-container {
  width: 100vw;
  margin-left: -7vw;
  height: 40rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }
  .hero-container.portrait.padding-sm, .portrait.padding-sm.self-container {
    padding: 6rem 7vw; }
  .hero-container.portrait.padding-md, .portrait.padding-md.self-container {
    padding: 7rem 7vw; }
  .hero-container.landscape.padding-sm, .landscape.padding-sm.self-container {
    padding: 5rem calc(7vw + 2rem); }
  .hero-container.landscape.padding-md, .landscape.padding-md.self-container {
    padding: 9rem calc(7vw + 4.2rem); }
  @media (min-width: 600px) {
    .hero-container, .self-container {
      margin-left: -12vw; } }
  @media (min-width: 840px) {
    .hero-container, .self-container {
      width: 100%;
      margin-left: 0;
      grid-column: 1;
      margin-top: -2.3rem;
      min-height: calc(100vh - 9rem);
      height: 100%;
      /*
    &.portrait {
      &.padding-sm {
        padding: 2.5rem;
      }
      &.padding-md {
        padding: 10rem;
      }
      &.padding-lg {
        padding: 12rem;
      }
    }
    &.landscape {
      &.padding-sm {
        //padding: 1.5rem $side-padding-xs;
        padding: 2.5rem;
      }
      &.padding-md {
        //padding: 5rem $side-padding-xs;
        padding: 10rem;
      }
      &.padding-lg {
        //padding: 9rem $side-padding-xs;
        padding: 12rem;
      }
    }
    */ }
      .hero-container.portrait.padding-sm, .portrait.padding-sm.self-container, .hero-container.landscape.padding-sm, .landscape.padding-sm.self-container {
        padding: 6vw; }
      .hero-container.portrait.padding-md, .portrait.padding-md.self-container, .hero-container.landscape.padding-md, .landscape.padding-md.self-container {
        padding: 8vw; } }
  @media (min-width: 840px) and (min-width: 1200px) {
    .hero-container.portrait.padding-sm, .portrait.padding-sm.self-container, .hero-container.landscape.padding-sm, .landscape.padding-sm.self-container {
      padding: 8rem; }
    .hero-container.portrait.padding-md, .portrait.padding-md.self-container, .hero-container.landscape.padding-md, .landscape.padding-md.self-container {
      padding: 10rem; } }
  @media (min-width: 1200px) {
    .hero-container, .self-container {
      min-height: calc(100vh - 12rem); } }
  .hero-container img, .self-container img {
    max-height: 100%; }
    @media (min-width: 840px) {
      .hero-container img, .self-container img {
        max-height: none;
        width: 100%; } }

@media (min-width: 840px) {
  .project-landing, .about-landing {
    display: grid;
    grid-template-columns: 1fr 1fr; } }

@media (max-height: 570px) {
  .project-landing, .about-landing {
    height: 100%; } }

.intro, .bio {
  height: 100%;
  margin-top: 5rem; }
  @media (min-width: 840px) {
    .intro, .bio {
      margin-left: 4rem;
      margin-top: 4rem;
      padding-bottom: 6rem; } }
  .intro h3, .bio h3 {
    margin-bottom: 0.2rem; }

.intro-details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 4rem;
  margin-top: 1rem; }
  @media (min-width: 840px) {
    .intro-details {
      margin-top: 0; } }

.intro-detail-item {
  margin-top: 3rem; }
  .intro-detail-item.wide {
    grid-column-end: span 2; }

.project-title, .about-title {
  margin: 5rem 0 3rem; }
  @media (min-width: 840px) {
    .project-title, .about-title {
      margin-top: 0;
      margin-bottom: 2.5rem;
      margin-left: -7rem; } }

/* Sections (content blocks) */
.section-container {
  height: 100%;
  margin-top: 8rem;
  margin-bottom: -2.5rem; }
  .section-container ol,
  .section-container ul {
    padding-left: 3.2rem;
    margin-bottom: 2.5rem; }
    @media (min-width: 600px) {
      .section-container ol,
      .section-container ul {
        padding-left: 5rem; } }
  .section-container ol {
    list-style-type: decimal; }
  .section-container ul {
    list-style-type: disc; }
  .section-container li {
    padding-left: 1rem; }

.section {
  margin-top: 5rem; }
  @media (min-width: 840px) {
    .section {
      display: grid;
      grid-template-columns: 1fr 75%;
      grid-gap: 4.5rem;
      margin-top: 3.8rem; } }

@media (min-width: 840px) {
  .section-title {
    min-width: 11rem; } }

/* Text sections */
.section-content p {
  margin-bottom: 2.5rem; }

/* Styles for non-text sections */
.section-image, .palette, .pdf-container, .persona-container {
  margin-bottom: 2.5rem; }

/* Image sections */
.section-image, .palette {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100vw;
  padding: 4rem 7vw;
  margin-left: -7vw;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }
  @media (min-width: 600px) {
    .section-image, .palette {
      padding: 4rem 12vw;
      margin-left: -12vw; } }
  @media (min-width: 840px) {
    .section-image, .palette {
      width: 100%;
      padding: 4rem;
      margin-left: 0; } }
  .section-image img, .palette img {
    max-height: 60vh; }
    @media (min-width: 840px) {
      .section-image img, .palette img {
        max-height: 40rem; } }
  .section-image.no-padding-md, .section-image.no-padding, .no-padding.palette, .no-padding-md.palette {
    padding-top: 0;
    padding-bottom: 0; }
    @media (min-width: 840px) {
      .section-image.no-padding-md, .section-image.no-padding, .no-padding.palette, .no-padding-md.palette {
        padding: 0; } }
    .section-image.no-padding-md img, .section-image.no-padding img, .no-padding.palette img, .no-padding-md.palette img {
      max-height: none; }
      @media (min-width: 840px) {
        .section-image.no-padding-md img, .section-image.no-padding img, .no-padding.palette img, .no-padding-md.palette img {
          width: 100%;
          max-height: none; } }
  .section-image.no-padding, .no-padding.palette {
    padding: 0; }

/* Color palette styles */
.palette {
  background-color: #f9f9fb; }

.swatch-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.swatch {
  display: inline-block;
  height: 11rem;
  width: 11rem;
  position: relative;
  margin: 2rem; }

.swatch-name {
  width: 100%;
  background-color: #fff;
  position: absolute;
  left: 0;
  bottom: 0;
  text-align: center;
  -webkit-user-select: text;
     -moz-user-select: text;
      -ms-user-select: text;
          user-select: text;
  font-size: 1.1rem;
  padding: 1rem 0 0.9rem;
  letter-spacing: .1rem;
  text-transform: uppercase;
  color: #272a2c; }

/* PDF section */
.pdf {
  max-width: 100%;
  border: 0;
  width: 100rem;
  height: 60vh;
  min-height: 30rem;
  background-color: #f9f9fb; }
  @media (min-width: 840px) {
    .pdf {
      height: 70vh; } }

/* Personas section */
@media (min-width: 600px) {
  .persona {
    display: grid;
    grid-template-columns: auto auto;
    margin-bottom: 2.5rem; } }

.persona-icon-container {
  text-align: center;
  padding-bottom: 2.5rem;
  padding-top: 2.5rem; }
  @media (min-width: 600px) {
    .persona-icon-container {
      padding: 0 3rem 0 0;
      display: inline-block; } }

.persona-icon {
  width: 10rem; }

.persona-description p {
  margin-bottom: 0; }

/* Blockquote section */
.blockquote {
  letter-spacing: 0;
  font-style: italic;
  padding: 0 3rem;
  font-size: 2.1rem;
  line-height: 3.3rem; }
  @media (min-width: 840px) {
    .blockquote {
      font-size: 2.6rem;
      line-height: 3.7rem;
      padding: 0 4rem; } }

/***** INDIVIDUAL PROJECT PAGE STYLES *****/
.project-stride a,
.project-stride a:visited,
.project-stride a:hover,
.project-stride a:active {
  color: #2F8C7E;
  -webkit-transition: 0.3s opacity;
  transition: 0.3s opacity; }

@media (hover: hover) {
  .project-stride a:not(.btn):hover {
    opacity: 0.4; } }

.project-stride button {
  border-color: #2F8C7E;
  color: #2F8C7E;
  -webkit-transition: background-color .3s, color .3s;
  transition: background-color .3s, color .3s; }
  @media (hover: hover) {
    .project-stride button:hover {
      background-color: #2F8C7E;
      color: white;
      opacity: 1; } }

.project-frontiers a,
.project-frontiers a:visited,
.project-frontiers a:hover,
.project-frontiers a:active {
  color: #035F93;
  -webkit-transition: 0.3s opacity;
  transition: 0.3s opacity; }

@media (hover: hover) {
  .project-frontiers a:not(.btn):hover {
    opacity: 0.4; } }

.project-frontiers button {
  border-color: #035F93;
  color: #035F93;
  -webkit-transition: background-color .3s, color .3s;
  transition: background-color .3s, color .3s; }
  @media (hover: hover) {
    .project-frontiers button:hover {
      background-color: #035F93;
      color: white;
      opacity: 1; } }

.project-burow a,
.project-burow a:visited,
.project-burow a:hover,
.project-burow a:active {
  color: #FB9D56;
  -webkit-transition: 0.3s opacity;
  transition: 0.3s opacity; }

@media (hover: hover) {
  .project-burow a:not(.btn):hover {
    opacity: 0.4; } }

.project-burow button {
  border-color: #FB9D56;
  color: #FB9D56;
  -webkit-transition: background-color .3s, color .3s;
  transition: background-color .3s, color .3s; }
  @media (hover: hover) {
    .project-burow button:hover {
      background-color: #FB9D56;
      color: white;
      opacity: 1; } }

.project-dau-visual a,
.project-dau-visual a:visited,
.project-dau-visual a:hover,
.project-dau-visual a:active {
  color: #F0647E;
  -webkit-transition: 0.3s opacity;
  transition: 0.3s opacity; }

@media (hover: hover) {
  .project-dau-visual a:not(.btn):hover {
    opacity: 0.4; } }

.project-dau-visual button {
  border-color: #F0647E;
  color: #F0647E;
  -webkit-transition: background-color .3s, color .3s;
  transition: background-color .3s, color .3s; }
  @media (hover: hover) {
    .project-dau-visual button:hover {
      background-color: #F0647E;
      color: white;
      opacity: 1; } }

.project-designatucsd a,
.project-designatucsd a:visited,
.project-designatucsd a:hover,
.project-designatucsd a:active {
  color: #79B5CC;
  -webkit-transition: 0.3s opacity;
  transition: 0.3s opacity; }

@media (hover: hover) {
  .project-designatucsd a:not(.btn):hover {
    opacity: 0.4; } }

.project-designatucsd button {
  border-color: #79B5CC;
  color: #79B5CC;
  -webkit-transition: background-color .3s, color .3s;
  transition: background-color .3s, color .3s; }
  @media (hover: hover) {
    .project-designatucsd button:hover {
      background-color: #79B5CC;
      color: white;
      opacity: 1; } }

.project-travelboss a,
.project-travelboss a:visited,
.project-travelboss a:hover,
.project-travelboss a:active {
  color: #FF6C71;
  -webkit-transition: 0.3s opacity;
  transition: 0.3s opacity; }

@media (hover: hover) {
  .project-travelboss a:not(.btn):hover {
    opacity: 0.4; } }

.project-travelboss button {
  border-color: #FF6C71;
  color: #FF6C71;
  -webkit-transition: background-color .3s, color .3s;
  transition: background-color .3s, color .3s; }
  @media (hover: hover) {
    .project-travelboss button:hover {
      background-color: #FF6C71;
      color: white;
      opacity: 1; } }

.project-ergo a,
.project-ergo a:visited,
.project-ergo a:hover,
.project-ergo a:active {
  color: #01B6AF;
  -webkit-transition: 0.3s opacity;
  transition: 0.3s opacity; }

@media (hover: hover) {
  .project-ergo a:not(.btn):hover {
    opacity: 0.4; } }

.project-ergo button {
  border-color: #01B6AF;
  color: #01B6AF;
  -webkit-transition: background-color .3s, color .3s;
  transition: background-color .3s, color .3s; }
  @media (hover: hover) {
    .project-ergo button:hover {
      background-color: #01B6AF;
      color: white;
      opacity: 1; } }

.project-portfolio a,
.project-portfolio a:visited,
.project-portfolio a:hover,
.project-portfolio a:active {
  color: #EF7B5E;
  -webkit-transition: 0.3s opacity;
  transition: 0.3s opacity; }

@media (hover: hover) {
  .project-portfolio a:not(.btn):hover {
    opacity: 0.4; } }

.project-portfolio button {
  border-color: #EF7B5E;
  color: #EF7B5E;
  -webkit-transition: background-color .3s, color .3s;
  transition: background-color .3s, color .3s; }
  @media (hover: hover) {
    .project-portfolio button:hover {
      background-color: #EF7B5E;
      color: white;
      opacity: 1; } }

.project-kp-hsc a,
.project-kp-hsc a:visited,
.project-kp-hsc a:hover,
.project-kp-hsc a:active {
  color: #C97F72;
  -webkit-transition: 0.3s opacity;
  transition: 0.3s opacity; }

@media (hover: hover) {
  .project-kp-hsc a:not(.btn):hover {
    opacity: 0.4; } }

.project-kp-hsc button {
  border-color: #C97F72;
  color: #C97F72;
  -webkit-transition: background-color .3s, color .3s;
  transition: background-color .3s, color .3s; }
  @media (hover: hover) {
    .project-kp-hsc button:hover {
      background-color: #C97F72;
      color: white;
      opacity: 1; } }

.project-ourstory a,
.project-ourstory a:visited,
.project-ourstory a:hover,
.project-ourstory a:active {
  color: #c98689;
  -webkit-transition: 0.3s opacity;
  transition: 0.3s opacity; }

@media (hover: hover) {
  .project-ourstory a:not(.btn):hover {
    opacity: 0.4; } }

.project-ourstory button {
  border-color: #c98689;
  color: #c98689;
  -webkit-transition: background-color .3s, color .3s;
  transition: background-color .3s, color .3s; }
  @media (hover: hover) {
    .project-ourstory button:hover {
      background-color: #c98689;
      color: white;
      opacity: 1; } }

/*
 * About page
 */
.self-container {
  background-image: url("../images/yellow.jpg");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-size: cover;
  background-color: #f6e46b; }
  @media (min-width: 840px) {
    .self-container {
      background-position-y: bottom; } }

@media (min-width: 840px) {
  .about-title br {
    display: none; } }

@media (min-width: 960px) {
  .about-title {
    padding-right: 2rem; } }

@media (min-width: 1200px) {
  .about-title br {
    display: inline; } }

.about-tagline {
  margin-top: .2rem;
  margin-bottom: 2.4rem; }

.bio p:not(:last-child) {
  margin-bottom: 2.5rem; }

/*
 * 404 page
 */
#error h1 {
  max-width: 55rem; }

#error h2 {
  margin-top: 2rem; }
  #error h2 a,
  #error h2 a:visited,
  #error h2 a:hover,
  #error h2 a:active {
    color: #ababab;
    -webkit-transition: 0.3s opacity;
    transition: 0.3s opacity; }
  @media (hover: hover) {
    #error h2 a:not(.btn):hover {
      opacity: 0.4; } }
  #error h2 button {
    border-color: #ababab;
    color: #ababab;
    -webkit-transition: background-color .3s, color .3s;
    transition: background-color .3s, color .3s; }
    @media (hover: hover) {
      #error h2 button:hover {
        background-color: #ababab;
        color: white;
        opacity: 1; } }

#error.title {
  padding: 0; }
