// Extra small devices (480px and up)
@mixin xs-up {
  @media (min-width: $xs-screen) {
    @content;
  }
}

// Small devices (600px and down)
@mixin sm-down {
  @media (max-width: 599px) {
    @content;
  }
}

// Small devices (landscape phones, 600px and up)
@mixin sm-up {
  @media (min-width: $sm-screen) {
    @content;
  }
}

// Medium devices (tablets, 840px and up)
@mixin md-up {
  @media (min-width: $md-screen) {
    @content;
  }
}

// Large devices (desktops, 960px and up)
@mixin lg-up {
  @media (min-width: $lg-screen) {
    @content;
  }
}

// Extra large devices (large desktops, 1280px and up)
@mixin xl-up {
  @media (min-width: $xl-screen) {
    @content;
  }
}

// Extra extra large devices (large desktops, 2000px and up)
@mixin xxl-up {
  @media (min-width: $xxl-screen) {
    @content;
  }
}

@mixin short-screen {
  @media (max-height: 570px) {
    @content;
  }
}

@mixin shorter-screen {
  @media (max-height: 470px) {
    @content;
  }
}

@mixin hover {
  @media (hover: hover) {
    &:hover {
      @content;
    }
  }
}

@mixin link-hover($color) {
  a,
  a:visited,
  a:hover,
  a:active {
    color: $color;
    transition: 0.3s opacity;
  }
  a {
    @include hover {
      opacity: 0.4;
    }
  }
}

/*
@mixin underline($r, $g, $b, $a) {
  h1, h2, h3, p {
    a {
      background-image: -webkit-linear-gradient(
      -90deg,
      rgba($r, $g, $b, 0) 50%,
      rgba($r, $g, $b, $a) 50%
      );
    }
  }
}
*/
