// Media breakpoints
$xs-screen: 480px;
$sm-screen: 600px;
$md-screen: 840px;
//$lg-screen: 960px;
$lg-screen: 1024px;
$xl-screen: 1280px;
$xxl-screen: 2200px;

// Body padding/margins
$top-padding-xs: 4rem;
$top-padding-sm: 9rem;
$top-padding-xl: 12rem;
$bottom-padding: 6rem; // Space b/t content and footer
$side-padding-xs: 7vw;
$side-padding-sm: 12vw;
$side-padding-xl: 12vw;

// Components
$container-max-width: 120rem;
$footer-height-xs: 13rem;
$footer-height-sm: 20rem;
$menu-height: 2.3rem;
$bottom-p-padding: 2.5rem;

// Colors
$shark: #272a2c; // h1, h2
$rolling-stone: #333; // p
$silver-sand: #ababab; // a
$athens-gray: #f9f9fb; // backgrounds
$yellow: #FFF56E;

$burnt-sienna: #EF7B5E; // orange-peach
//$submarine: #B7DCD9; // mint-teal

// Fonts
$graphik: "Graphik", "Helvetica Neue", "Arial", sans-serif;
$inter-ui: "Inter UI", "Helvetica Neue", "Arial", sans-serif;
$body-font-size: 1.4rem;
$body-line-height: 2.5rem;

// Menu shortcut active style
/*
$underline: -webkit-linear-gradient(
  -90deg,
  rgba(231, 232, 233, 0) 50%,
  rgba(231, 232, 233, 1) 50%
);
*/

$underline: -webkit-linear-gradient(
  -90deg,
  rgba(255, 245, 110, 0) 50%,
  rgba(255, 245, 110, 1) 50%
);
