/*
 * Typography
 */

body {
  -webkit-font-smoothing: antialiased;
  font-family: $inter-ui;
  font-weight: 400;
  letter-spacing: 0;
}

h1, h2, h3 {
  color: $shark !important;
  font-weight: 500;
}

h1, h2 {
  font-family: $graphik;
  @include md-up {
    letter-spacing: -0.04rem;
  }
}

h1 {
  font-size: 3rem;
  line-height: 3.9rem;
  @include sm-up {
    font-size: 3.5rem;
    line-height: 4.5rem;
  }
  @include md-up {
    font-size: 4.5rem;
    line-height: 5.5rem;
  }
  &.small {
    font-size: 2.8em;
    line-height: 3.6rem;
    @include xs-up {
      line-height: 3.9rem;
      font-size: 3.1em;
    }
  }
}

.title {
  margin: 8rem 0 9rem;
  padding-right: 2rem;
  h1 {
    @include xs-up {
      max-width: 85rem;
    }
  }
}

.archive-title {
  margin: 8rem 0 5rem;
}

.name {
  background-image: $underline;
}

/* Title tagline */
.tagline {
  display: inline-block;
  margin-top: 0.4rem;
}

h2 {
  font-size: 1.9rem;
  line-height: 2.7rem;
  a {
    color: inherit;
  }
}

#project {
  h2 {
    margin-bottom: 1.5rem;
  }
}

p, li, h3 {
  font-size: 1.3rem;
  line-height: 2.3rem;
  color: $rolling-stone;
  letter-spacing: .03rem;
  @include link-hover($silver-sand);
  @include xs-up {
    font-size: $body-font-size;
    line-height: $body-line-height;
  }
}

i {
  font-style: italic;
  line-height: 0; // Temp fix for off line height
}

a,
a:visited,
a:hover,
a:active {
  color: inherit;
  text-decoration: none;
}

/*
h2, h3, p {
  a {
    @include underline(255, 240, 89, 1);
  }
}
*/
.no-break {
  white-space: nowrap;
}

.small-text {
  font-size: 1.1rem;
  font-style: italic;
}

.underline {
  text-decoration: underline;
}