/*
 * Typography
 */

$normal: 400;
$franklin-gothic: "Franklin Gothic", "Helvetica Neue", "Arial", sans-serif;
$hk-grotesk: "HK Grotesk", "Helvetica Neue", "Arial", sans-serif;

body {
  -webkit-font-smoothing: antialiased;
  font-family: $franklin-gothic;
  font-weight: $normal;
}

/*
h1, h2 {
  font-family: "Lora";
  font-weight: bold;
}

p, li {
  font-family: "IBM Plex Sans";
  font-size: 1.4rem !important;
  color: #333 !important;
}
*/

h1 {
  color: $shark;
  font-size: 3.2rem;
  line-height: 3.6rem;
  @include xs-up {
    font-size: 4.2rem;
    line-height: 4.7rem;
  }
}

/* Title tagline */
.tagline {
  display: inline-block;
  margin-top: 0.4rem;
  color: #dedede;
}

h2 {
  color: $shark;
  font-size: 2rem;
  letter-spacing: 0.027rem;
  line-height: 2.8rem;
  a {
    color: $shark;
  }
}

#project {
  h2 {
    margin-bottom: 1.5rem;
  }
}

h3 {
  font-family: $hk-grotesk;
  color: $silver-sand;
  font-size: 1.3rem;
  line-height: 1.7rem;
  letter-spacing: 0.056rem;
  text-transform: uppercase;
}

p,
li {
  color: $rolling-stone;
  font-size: 1.4rem;
  line-height: 2.2rem;
  letter-spacing: 0.03rem;
  a {
    color: $rolling-stone;
  }
  @include link-hover($burnt-sienna);
  @include xs-up {
    font-size: 1.5rem;
    line-height: 2.4rem;
  }
}

i {
  font-style: italic;
}

a,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}

/*
h2, h3, p {
  a {
    @include underline(255, 240, 89, 1);
  }
}
*/
.no-break {
  white-space: nowrap;
}
