/*
 * Typography
 */

body {
  -webkit-font-smoothing: antialiased;
  font-family: "Franklin Gothic", "Helvetica Neue", "Arial", sans-serif;
  font-weight: 400;
}

/*
h1, h2 {
  //font-family: "Theano Didot";
  //font-weight: bold;
}

body {
  font-family: "IBM Plex Sans";
  p, li {
    font-size: 1.4rem !important;
    color: #333 !important;
  }
}
*/

h1 {
  color: $shark;
  font-size: 3.2rem;
  line-height: 3.6rem;
}

.title {
  margin: 8rem 0 7rem;
  padding-right: 2rem;
  h1 {
    font-size: 2.7rem;
    line-height: 3.3rem;
  }
  @include xs-up {
    padding-right: 6rem;
    h1 {
      //max-width: 100rem;
    }
  }
}

.title h1, h1 {
  @include sm-up {
    font-size: 4.2rem;
    line-height: 4.7rem;
  }
}

/* Title tagline */
.tagline {
  display: inline-block;
  margin-top: 0.4rem;
  color: #dbdbdb;
}

h2 {
  color: $shark;
  font-size: 2rem;
  letter-spacing: 0.027rem;
  line-height: 2.8rem;
  a {
    color: $shark;
  }
}

#project {
  h2 {
    margin-bottom: 1.5rem;
  }
}

h3 {
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 400;
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  color: $silver-sand;
  line-height: 1.7rem;
  text-transform: uppercase;
}

p,
li {
  color: $rolling-stone;
  font-size: 1.4rem;
  line-height: 2.2rem;
  letter-spacing: 0.03rem;
  a {
    color: $rolling-stone;
  }
  @include link-hover($burnt-sienna);
  @include xs-up {
    font-size: 1.5rem;
    line-height: 2.4rem;
  }
}

i {
  font-style: italic;
}

a,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}

/*
h2, h3, p {
  a {
    @include underline(255, 240, 89, 1);
  }
}
*/
.no-break {
  white-space: nowrap;
}
