/*
 * About page
 */

.self-container {
  @extend .hero-container;
  background-image: url('../images/preview-min.png');
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: center;
  background-size: cover;
  background-color: #f6e46b;
  @include md-up {
    min-height: 50rem;
    background-position-x: center;
    background-image: url('../images/yellow.jpg');
    background-position-y: bottom;
  }
  @include xl-up {
    min-height: 70rem;
  }
}

.about-landing {
  @extend .project-landing;
}

.about-title {
  @extend .project-title;
  /*
  @include lg-up {
    padding-right: 2rem;
  } */
  br {
    display: none;
    @include xl-up {
      display: inline;
    }
  }
}

.about-tagline {
  margin-top: .2rem;
  margin-bottom: 2.4rem;
}

.bio {
  @extend .intro;
  p:not(:last-child) {
    margin-bottom: $bottom-p-padding;
  }
}
