/*
 * About page
 */

.logo-container {
  @extend .hero-container;
  background-color: $submarine;
  position: relative;
  padding: 0;
  overflow: hidden;
  img {
    width: 130%;
  }
  @include md-up {
    overflow: visible;
  }
}

.logo-wrapper {
  height: 100%;
  box-sizing: border-box;
  overflow: hidden;
  img {
    margin-top: 0;
    height: 75%;
  }
  @include md-up {
    padding: 0 3.5rem;
  }
}

.self-container {
  @extend .hero-container;
  background-image: url('../images/yellow.jpg');
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: bottom;
  background-size: cover;
  background-color: #f6e46b;
}

.about-landing {
  @extend .project-landing;
}

.about-title {
  @extend .project-title;
  // Manage line break in about tagline
  @include md-up {
    //margin-left: 0;
    br {
      display: none;
    }
  }
  @include lg-up {
    padding-right: 2rem;
  }
  @include xl-up {
    br {
      display: inline;
    }
  }
}

.about-tagline {
  margin-top: .1rem;
  margin-bottom: 2.4rem;
}

.bio {
  @extend .intro;
  p:not(:last-child) {
    margin-bottom: $bottom-p-padding;
  }
}
