/*
 * Case study/project pages
 */

#project {
  //margin-bottom: 6rem;
  img {
    max-width: 100%;
  }
}

/* Case study landing page */
.hero-container {
  width: 100vw;
  margin-left: -$side-padding-xs;
  height: 40rem;
  box-sizing: border-box;
  user-select: none;
  &.portrait {
    &.padding-sm {
      padding: 6rem $side-padding-xs;
    }
    &.padding-md {
      padding: 7rem $side-padding-xs;
    }
  }
  &.landscape {
    &.padding-sm {
      padding: 5rem calc(#{$side-padding-xs} + 2rem);
    }
    &.padding-md {
      padding: 9rem calc(#{$side-padding-xs} + 4.2rem);
    }
  }
  @include sm-up {
    margin-left: -$side-padding-sm;
  }
  @include md-up {
    width: 100%;
    margin-left: 0;
    grid-column: 1;
    margin-top: -$menu-height;
    //min-height: calc(100vh - #{$top-padding-sm});
    min-height: 100%;
    height: 100%;
    &.portrait,
    &.landscape {
      &.padding-sm {
        padding: 6vw;
      }
      &.padding-md {
        padding: 8vw;
      }
      @include xl-up {
        &.padding-sm {
          padding: 8rem;
        }
        &.padding-md {
          padding: 10rem;
        }
      }
    }
  }
  @include xl-up {
    //min-height: calc(100vh - #{$top-padding-xl});
  }
  img {
    max-height: 100%; // ??
    @include md-up {
      max-height: none;
      width: 100%; // skews portrait icons?
    }
  }
}

.project-landing {
  @include md-up {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.intro {
  height: 100%;
  margin-top: 5rem;
  @include md-up {
    margin-left: 4rem;
    margin-top: 4rem;
    padding-bottom: 8rem;
  }
  h3 {
    margin-bottom: 0.2rem;
  }
}

.intro-details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 4rem;
  margin-top: 1rem;
  @include md-up {
    margin-top: 0;
  }
}

.intro-detail-item {
  margin-top: 3rem;
  &.wide {
    grid-column-end: span 2;
  }
}

.project-title {
  margin: 5rem 0 3rem;
  @include md-up {
    margin-top: 0;
    margin-bottom: 2.5rem;
    margin-left: -8rem;
  }
  @include lg-up {
    // margin-left: -8rem;
  }
}

/* Sections (content blocks) */
.section-container {
  height: 100%;
  margin-top: 8rem;
  margin-bottom: -$bottom-p-padding;
  ol,
  ul {
    padding-left: 3.2rem;
    margin-bottom: $bottom-p-padding;
    @include sm-up {
      padding-left: 5rem;
    }
  }
  ol {
    list-style-type: decimal;
  }
  ul {
    list-style-type: disc;
  }
  li {
    padding-left: 1rem;
  }
}

.section {
  margin-top: 5rem;
  @include md-up {
    display: grid;
    grid-template-columns: 1fr 75%;
    grid-gap: 4.5rem;
    margin-top: 3.8rem;
  }
}

.section-title {
  @include md-up {
    // Prevents title from getting too small and pushing content right
    min-width: 11rem;
  }
}

/* Text sections */
.section-content {
  p {
    margin-bottom: $bottom-p-padding;
  }
}

/* Styles for non-text sections */
%other-section {
  margin-bottom: $bottom-p-padding;
}

/* Image sections */
.section-image {
  box-sizing: border-box;
  width: 100vw;
  padding: 4rem $side-padding-xs;
  margin-left: -$side-padding-xs;
  text-align: center;
  user-select: none;
  @extend %other-section;
  @include sm-up {
    padding: 4rem $side-padding-sm;
    margin-left: -$side-padding-sm;
  }
  @include md-up {
    width: 100%;
    padding: 4rem;
    margin-left: 0;
  }
  img {
    max-height: 60vh;
    @include md-up {
      max-height: 40rem;
    }
  }
  &.no-padding-md {
    padding-top: 0;
    padding-bottom: 0;
    @include md-up {
      padding: 0;
    }
    img {
      max-height: none;
      @include md-up {
        width: 100%;
        max-height: none;
      }
    }
  }
  &.no-padding {
    @extend .no-padding-md;
    padding: 0;
  }
}

/* Color palette styles */
.palette {
  @extend .section-image;
  background-color: $athens-gray;
}

.swatch-container {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}

.swatch {
  display: inline-block;
  height: 11rem;
  width: 11rem;
  position: relative;
  margin: 2rem;
}

.swatch-name {
  width: 100%;
  background-color: #fff;
  position: absolute;
  left: 0;
  bottom: 0;
  text-align: center;
  user-select: text;
  font-size: 1.1rem;
  padding: 1rem 0 0.9rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  color: $rolling-stone;
}

/* PDF section */
.pdf-container {
  @extend %other-section;
}

.pdf {
  max-width: 100%;
  border: 0;
  width: 100rem;
  height: 60vh;
  min-height: 30rem;
  background-color: $athens-gray;
  @include md-up {
    height: 70vh;
  }
}

/* Personas section */
.persona-container {
  @extend %other-section;
}

.persona {
  @include sm-up {
    display: grid;
    grid-template-columns: auto auto;
    margin-bottom: $bottom-p-padding;
  }
}

.persona-icon-container {
  text-align: center;
  padding-bottom: $bottom-p-padding;
  padding-top: $bottom-p-padding;
  @include sm-up {
    padding: 0 3rem 0 0;
    display: inline-block;
  }
}

.persona-icon {
  width: 10rem;
}

.persona-description {
  p {
    margin-bottom: 0;
  }
}

/* Blockquote section */
.blockquote {
  letter-spacing: 0;
  font-style: italic;
  padding: 0 3rem;
  font-size: 2.1rem;
  line-height: 3.3rem;
  @include md-up {
    font-size: 2.6rem;
    line-height: 3.7rem;
    padding: 0 4rem;
  }
}

/***** INDIVIDUAL PROJECT PAGE STYLES *****/

.project-google {
  @include link-hover(#651fff);
}

.project-asgs {
  @include link-hover(#b7bf10);
}

.project-design-camp {
  @include link-hover(#1b237e);
}

.project-stride {
  @include link-hover(#2f8c7e);
}

.project-frontiers {
  @include link-hover(#035f93);
}

.project-burow {
  @include link-hover(#fb9d56);
}

.project-designatucsd {
  @include link-hover(#70bdb6);
}

.project-travelboss {
  @include link-hover(#ff6c71);
}

.project-ergo {
  @include link-hover(#01b6af);
}

.project-remember-that-i-love-you {
  @include link-hover(rgb(248, 183, 97));
}

.project-portfolio {
  @include link-hover($burnt-sienna);
}

.project-how-far-ill-go {
  @include link-hover(#c97f72);
}

.project-ourstory {
  @include link-hover(#c98689);
}

.project-together {
}

.project-illustration {
  @include link-hover(#f04647);
}

/* Archive styles */
#archive {
  margin: 8rem 0 5rem;
}

#back {
  margin-top: 14rem;
  .blockquote {
    padding-left: 0;
  }
}
