/*
 * Case study/project pages
 */

$intro-col-gap: 4rem;
$intro-col-width: calc((100% - #{$intro-col-gap}) / 2);

#project {
	img {
		max-width: 100%;
	}
}

/* Case study landing page */
.hero-container {
	width: 100vw;
	margin-left: -$side-padding-xs;
	padding: 4rem $side-padding-xs;
	height: 35rem;
	box-sizing: border-box;
	user-select: none;
	@include sm-up {
		margin-left: -$side-padding-sm;
		padding: 4rem;
	}
	@include md-up {
		width: 100%;
		margin-left: 0;
		grid-column: 1;
		margin-top: -$menu-height;
		min-height: calc(100vh - #{$top-padding-sm});
		height: 100%;
		&.portrait {
			padding: 6rem 6rem;
		}
	}
	@include xl-up {
		min-height: calc(100vh - #{$top-padding-xl});
	}	
	img {
		max-height: 100%;
	}
}

.project-landing {
	@include md-up {
		display: grid;
		grid-template-columns: 50% 50%;
	}
	@include short-screen {
		height: 100%;
	}
}

.intro {
	height: 100%;
	margin-top: 5rem;
	@include md-up {
		margin-left: 4rem;
		margin-top: 4rem;
		padding-bottom: 6rem;
	}
	h3 {
		margin-bottom: 0.7rem;
	}
}

.intro-details {
	display: grid;
	grid-template-columns: $intro-col-width $intro-col-width;
	grid-column-gap: $intro-col-gap;
	margin-top: 1rem;
	@include md-up {
		margin-top: 0;
	}
}

.intro-detail-item {
	margin-top: 3rem;
	&.wide {
		grid-column-end: span 2;
	}
}

.project-title {
	margin: 5rem 0 3rem;
	@include md-up {
		margin-top: 0;
		margin-bottom: 2.5rem;
		margin-left: -7rem;
	}
}

/* Sections (content blocks) */
.section-container {
	height: 100%;
	margin-top: 7rem;
	margin-bottom: -$bottom-p-padding;
	ol, ul {
        padding-left: 3rem;
        margin-bottom: $bottom-p-padding;
        @include md-up {
        	padding-left: 5rem;
        }
    }
    ol {
        list-style-type: decimal;
    }
    ul {
        list-style-type: disc;
    }
    li {
        padding-left: 1rem;
    }
}

.section {
	margin-top: 5rem;
	@include md-up {
		display: grid;
		grid-template-columns: 22% 78%;
		margin-top: 3.8rem;
	}
}

.section-title {
@include md-up {
		padding-right: 3rem;
	}
}

/* Text sections */
.section-content {
	p {
		margin-bottom: $bottom-p-padding;
	}
}

/* Styles for non-text sections */
%other-section {
	margin-bottom: $bottom-p-padding;
}

/* Image sections */
.section-image {
	box-sizing: border-box;
	width: 100vw;
	padding: 4rem $side-padding-xs;
	margin-left: -$side-padding-xs;
	text-align: center;
	user-select: none;
	@extend %other-section;
	@include sm-up {
		padding: 4rem $side-padding-sm;
		margin-left: -$side-padding-sm;
	}
	@include md-up {
		width: 100%;
		padding: 4rem;
		margin-left: 0;	
	}
	img {
		max-height: 60vh;
		@include md-up {
			max-height: 40rem;
		}
	}
	&.no-padding-md {
		padding-top: 0;
		padding-bottom: 0;
		@include md-up {
			padding: 0;
		}
		img {
			max-height: none;
			@include md-up {
				max-height: none;
			}
		}
	}
	&.no-padding {
		@extend .no-padding-md;
		padding: 0;
	}
}

/* Color palette styles */
.palette {
	@extend .section-image;
	background-color: $athens-gray;
}

.swatch-container {
	display: flex;
	justify-content: space-between;
	align-content: center;
	flex-wrap: wrap;
}

.swatch {
	display: inline-block;
	height: 11rem;
	width: 11rem;
	position: relative;
	margin: 2rem;
	
}

.swatch-name {
	width: 100%;
	background-color: $white;
	position: absolute;
	left: 0;
	bottom: 0;
	text-align: center;
	h3 {
		font-size: 1.4rem;
		padding: 0.8rem 0;
	}
}

/* PDF section */
.pdf-container {
	@extend %other-section;
}

.pdf {
	max-width: 100%;
	border: 0;
	width: 100rem;
	height: 60vh;
	min-height: 30rem;
	background-color: $athens-gray;
	@include md-up {
		height: 70vh;
	}
}