/*
 * Header styles
 */

#header {
  width: 100vw;
  text-align: right;
  user-select: none;
  .container {
    margin-top: $top-padding-xs;
    @include sm-up {
      margin-top: $top-padding-sm;
    }
    @include xl-up {
      margin-top: $top-padding-xl;
    }
  }
  h1 {
    font-size: 2.9rem;
    line-height: 5.2rem;
    @include short-screen {
      font-size: 2.6rem;
      line-height: 4.5rem;
    }
  }
  h2 {
    line-height: 3rem;
    font-size: 1.7rem;
    font-family: $inter-ui;
    color: $rolling-stone;
    font-weight: 400;
    @include short-screen {
      font-size: 1.8rem;
      line-height: 3rem;
    }
  }
}

.hamburger {
  z-index: 9999;
  position: relative;
  right: 0;
}

.menu-overlay {
  display: none;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.96);
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
}

.menu-container {
  height: 100%;
  max-width: $container-max-width;
  margin-right: auto;
  margin-left: auto;
  justify-content: flex-end;
  text-align: right;
  overflow-y: scroll;
  padding: 0 $side-padding-xs;
  @include sm-up {
    padding: 0 $side-padding-sm;
  }
  @include xl-up {
    padding: 0 $side-padding-xl;
  }
  @include shorter-screen {
    display: block;
  }
}

.menu {
  display: block;
  margin-top: 2rem;
  @include shorter-screen {
    margin-right: 8rem;
    margin-top: $top-padding-xs;
    @include sm-up {
      margin-top: $top-padding-sm;
    }
    @include xl-up {
      margin-top: $top-padding-xl;
    }
  }
  li,
  h1 {
    @include shorter-screen {
      margin-top: -0.5rem;
      display: inline-block;
    }
  }
  li a {
    color: $shark;
    padding: 0 0.3rem;
    //transition: background-image 0.3s;
    @include hover {
      opacity: 1;
      background-image: $underline;
    }
    &.active {
      opacity: 1;
      background-image: $underline;
      cursor: default;
      pointer-events: none;
    }
  }
  li {
    @include shorter-screen {
      &:not(:last-child) {
        margin-right: 3rem;
      }
    }
  }
}

.menu-shortcuts {
  margin: -0.3rem 0 1.6rem;
  max-width: 30rem;
  @include sm-up {
    max-width: 40rem;
  }
  @include md-up {
    max-width: 45rem;
  }
  @include shorter-screen {
    display: none;
  }
  h2 {
    display: inline;
    //white-space: nowrap;
    &:not(:last-child):after {
      content: " /";
    }
  }
}
